@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
    color: #f4efef;
}

#quote-button, #add-quote-button {
    background-color: transparent;
    border: none;
    color: #272727;
    transition: 500ms ease-in-out;
    display: none;
}

#quote-button:hover, #add-quote-button:hover {
    color: #a6fff8;
}